/*h1 {
  font-size: 24px;
  color: green;
}
p {
font-size: 16px;
color: blue;
}*/

h1, p {
  font-size: 18px;
  color: blue;
}

p {
  font-family: "Roboto", Arial, sans-serif;
}

p {
  color: red;
}

.button {
  background-color: blue;
  color: white;
}

#header {
  font-size: 24px;
  color: green;
}

[data-highlight] {
  background-color: yellow;
}